.idea
*.iml
.nyc_output
.coveralls.yml
.travis.yml
.eslintrc.json
.gitignore
.gitattributes
tsconfig.json
dist/
!dist/sqs-move-with-attrs.d.ts
!dist/sqs-move-with-attrs.js
!dist/cli.js
!dist/utils.js
src/
coverage/
node_modules/
reports/
test/
